html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; text-decoration:none;}
a, a:active, a:visited { color:#607890;text-decoration:none; }
a:hover { color:#036; }
ul,ol { margin:0px;padding:0px; list-style-type:none; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: 
 */
 
object{
	display:block;
}

body{
	background-color:#405C8A;
	background-image:url("../img/bg.jpg");
	background-position:center top;
	background-repeat:no-repeat;
	margin:auto;
	padding:10px;
	width:990px;
}

header{
	background-image:url(../img/topBar.png);
	height:58px;	
	padding:0px 10px;
}

h1,h2,h3,h4,
.videosList a{
	font-family: 'Yanone Kaffeesatz', impact, sans-serif;
}

h1{
	background-image:url("../img/splash.png");
	background-position:-3px -20px;
	background-repeat:no-repeat;
	color:#444444;
	font-size:28px;
	font-weight:bold;
	line-height:54px;
	text-shadow:1px 1px 1px #999999;
}

h1 span{
	padding:0 0 2px 5px;
}

h1 strong{
	background-color:#AB3710;
	color:#FFFFFF;
	font-weight:400;
	margin-left:5px;
	padding:0 10px 2px;
	text-shadow:none;
	display:inline-block;
	zoom:1;
}

#main{
	background-image:url(../img/mainBG.png);
	padding:10px;
}

#leftPanel{
	float:left;
	width:405px;
}

#leftPanel h2{
	color:#999;
	font-size:30px;
	font-weight:normal;
	margin-bottom:10px;
}


#details{
	margin:20px;
}

.js #details .detailBox{
	display:none;
}

.detailBox p{
	line-height:22px;
	font-size:15px;
	color:#fff;
}

.detailBox p span{
	display:block;
	margin-bottom:20px;
}
.detailBox img{
	border:1px solid #444;
	margin:0px 10px 10px 0px;
	float:left;
}

.detailBox img.sign{
	float:right;
	border:none;
}




#rightPanel{
	background-image:url("../img/rightBoxBG.png");
	background-repeat:no-repeat;
	overflow:hidden;
	padding:0 5px 4px 0;
	position:relative;
	width:545px;
}

.videosList{	
	float:left;
	margin-top:190px;
}

.videosList li{
	width:109px;
	height:33px;
	margin-bottom:5px;	
}

.videosList li.current a,
.videosList li.current span{
	opacity:1;
	filter:none;	
}

.videosList li.current a{
	border-color:#ff8000;	
}

.videosList a{
	border-left:5px solid transparent;
	background-image:url(../img/btnsSprite.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	outline:none;
}

.videosList a.btn_0 span{
	font-size:15px;
	padding:5px 5px 1px 2px;
}

.videosList a.btn_1{
	background-position:0px -34px;
}

.videosList a.btn_2{
	background-position:0px -68px;
}

.videosList a.btn_3{
	background-position:0px -102px;
}

.videosList a,
.videosList span{
	display:block;
	color:#fff;
	opacity:0.3;
	filter:alpha(opacity=30);
	zoom:1;
}

.videosList span{
	background-image:url("../img/buttonNumBG.png");
	background-position:0 0;
	background-repeat:no-repeat;
	font-size:22px;
	font-weight:bold;
	height:27px;
	padding:1px 1px 5px 6px;
	width:97px;
	cursor:pointer;
}


.videosList a:hover,
.videosList a:hover span,
.videosList a:focus,
.videosList a:focus span{
	color:#fff;
	opacity:1;
	filter:none;
}




#videoPlayer{
	float:right;	
	margin-top:190px;
	width:432px;
}
#videoPlayer .player{
	min-height:240px;
	background-image:url(../img/comingSoon.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-color:#1c2227;
}

.js #videoPlayer .player{
	display:none;
}


/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}

