


/* global rules */
	body{
		margin:10px;
		color:#444;
	}
	legend{
		font-size:1.2em;
		margin:10px 0px 5px 0px;
		color:#444;
	}
	.hidden{
		position:absolute;
		left:-9999999px;
	}
	
	a{
		color:#666;
	}
	
	.error{
		background-color:#ffffb0;
	}
	
	a:hover,
	a:focus{
		color:#444;
	}	
	
	.content{
		margin-bottom:20px;
		min-height:100px;		
	}
	
	.loading .content{
		background-image:url(../images/ajaxLoader5.gif);
		background-position:50% 50%;
		background-repeat:no-repeat;
	}
	
	.content p{
		font-size:1.2em;
	}
	.nota{
		font-style:italic;
		margin:5px 0px
	}
	.col50{
		width:49.5%;
		float:left;
	}
	
	.col50 .content{
		padding:10px;
		background-color:#eee;
		margin:0px 5px;
	}
	#hiddenBox{
		display:none;
	}
	
	.skipNavigation {
		position:absolute;
		left:-9999px;
		top:55px;
		background-color:#affe81;
		color:#4e8530;
		font-size:1.2em;
		font-style:italic;
		padding:3px 5px;
		border:1px solid #99d077;
	}
	
	.skipNavigation:focus {
		left:20px;
	}
	
	
	.verticalText{
		-moz-transform: rotate(-90deg);  
		-o-transform: rotate(-90deg);  
		-webkit-transform: rotate(-90deg);  
		-ms-transform: rotate(-90deg);  
		transform: rotate(-90deg);  
		filter: progid:DXImageTransform.Microsoft.Matrix(M11=6.123233995736766e-17, M12=1, M21=-1, M22=6.123233995736766e-17, sizingMethod='auto expand');
		zoom: 1;
	}
	
	.hr{
		border-bottom: 1px solid #FFFFFF;
		border-top: 1px solid #999999;
		margin: 10px 0px;
	}	
	
	#leftCol{		
		float:left;
		padding:30px 10px 10px 10px;
		margin-bottom:10px;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		position:relative;
	}
	
	#leftCol .colContent{
		width:320px;
	}
	
	#leftColBtn{
		background-image: url("../images/expandContract.png");
		background-position: 2px -9px;
		background-repeat: no-repeat;
		display: block;
		height: 13px;
		outline: medium none;
		position: absolute;
		right: 7px;
		text-align: center;
		top: 7px;
		width: 14px;
	}
	
	.contracted #leftColBtn{
		right:0px;
		background-position:0px 2px;
	}
	
	#leftCol.contracted{
		background-color:#eee;
		padding:13px 9.5px;
		
	}
	
	#leftColBtn span{
		position:absolute;
		left:-999999px;
	}
	
	form{
		overflow:hidden;
	}
	
	form p{
		position:relative;
	}
	
	form .infield{
		color:#999;
		color:rgba(0,0,0,0.5);
		font-style:italic;
	}
	
	
	#header{
		background-color:#eee;
		
	}
	
	.ie7 form .infield{
		color:#999;
	}
	
	.no-js #searchSwitch{
		display:none;
	}
	
	#searchSwitch{
		margin:10px 0px;
		clear:both;
	}
	
	.button{
		background-color: #d0d0d0;
		background-image:url("../images/btnBG.png");
		background-repeat:no-repeat;
		background-position:50% 55%;
		border: 1px solid #bbb;
		color: #444444;
		display: block;
		padding: 2px 5px 1px;
		outline:none;
		font-size:1.1em;
		cursor:pointer;
		height:2.35em;
		overflow:hidden;
		text-align:center;
	}
		
	.button:hover,
	.button:focus{
		background-color:#c0c0c0;
		color:#222;
		border-color:#999;
	}
	
	button.button{
		display:inline-block;
		font-size:1em;
	}
	
	button.text{
		border:none;
		background-color:transparent;
		text-decoration:underline;
		cursor:pointer;
	}
	
	button.text span{
		color: #444444;
		line-height:2.2em;
	}
	
	button.reset{
		float:left;
		font-size:1em;
	}
	
	
	.button.off{
		cursor:default;
		background-color:#ddd;
		color:#999;
		border-color:#ccc;
	}
	
	.button.off:hover,
	.button.off:focus{
		background-color:#ddd;
		color:#999;
		border-color:#ccc;
	}
	
	.button.submit:hover,
	.button.submit:focus{
		background-color:#ffa600;
	}
	
/* *** */

h1{
	font-size:2.5em;
	padding:10px 10px 10px 10px
}

h2{
	font-size:1.6em;
	font-style:italic;
	padding:0px 10px 10px 10px
}


#menuBar{
	margin-bottom: -1px;
	overflow: hidden;	
	z-index: 2;
	position: relative;
	padding:0px;
}


#main{
	border: 1px solid #999999;
	margin:0px;
	background-color:#F9F9F9;
	overflow:hidden;
	padding-left:0px;
}

/* tabMenu */
	.tabMenu{
		overflow:hidden;
		
		padding:0px 20px;
	}
	.tabMenu li{
		float:left;
	}
	
	.tabMenu .newItem{
		float:right;
	}
	
	.tabMenu .help{
		float:right;
	}
	.tabMenu .help a{
		padding-left:20px;
		background-image:url(../images/icons.png);
		background-repeat:no-repeat;
		background-position:0px -124px;
	}
	
	.tabMenu .risultati a{
		background-image: url("../images/icons.png");
		background-position: 2px -72px;
		background-repeat: no-repeat;
		padding-left: 20px;
	}
	
	.tabMenu .docBinder{
		position:relative;
	}
	
	.tabMenu .docBinder button{
		background-color: transparent;
		background-image: url("../images/icons.png");
		background-position: -93px -50px;
		border: medium none;
		border-radius: 2px 2px 2px 2px;
		cursor: pointer;
		height: 17px;
		padding: 0;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 17px;		
	}
	
	.tabMenu .docBinder button:hover,
	.tabMenu .docBinder button:focus{
		background-image: url("../images/iconsOn.png");
		background-color:#e0e0e0;
	}
	
	.tabMenu .docBinder a{
		background-image: url("../images/icons.png");
		background-position: 2px -99px;
		background-repeat: no-repeat;
		padding: 0px 20px;
	}		
	
	.tabMenu .icon a:hover,
	.tabMenu .icon a:focus{
		background-image:url("../images/iconsOn.png");
	}
	
	.tabMenu li a{		
		background-color: #d0d0d0;
		border-bottom: 1px solid #bbb;
		color: #666666;
		display: block;
		font-size: 1.2em;
		margin-right: 1px;
		outline:none;
	}
	
	.tabMenu li a span{
		display:block;
		padding: 5px 10px;	
	}
	
	.tabMenu li a:hover,
	.tabMenu li a:focus{
		background-color:#c0c0c0;
		border-bottom: 1px solid #aaa;
	}
	
	.tabMenu li.current a{
		background-color:#f9f9f9;
		color:#444;
		font-weight:bold;
		border:1px solid #999;
		border-bottom:1px solid #f9f9f9;
	}
	
	
	
	.tabMenu li.clusters a{		
		background-color: #edd5b4;
		border-bottom: 1px solid #e1ba84;
		color: #7e561f;
	}	

	.tabMenu li.clusters a:hover,
	.tabMenu li.clusters a:focus{
		background-color:#e0b881;
		border-bottom: 1px solid #d7a35b;
	}
	
	.tabMenu li.current.clusters a{
		background-color:#f9f9f9;
		color:#936424;
		font-weight:bold;
		border:1px solid #999;
		border-bottom:1px solid #f9f9f9;
	}
	
	
	.scrollBtnsBar{
		position:relative;
		clear:both;
		z-index:3;
	}

	.scrollBtnsBar .btnLeft,
	.scrollBtnsBar .btnRight,
	.scrollBtnsBar .btnLeft span,
	.scrollBtnsBar .btnRight span{
		display:none;
	}
	
	.scroll .btnLeft,
	.scroll .btnRight{
		display:block;
	}
	
	.scrollBtnsBar .btnLeft{
		position:absolute;
		left:0px;
		top:0px;
		width:10px;
		height:20px;
	}
	
	.scrollBtnsBar .btnRight{
		position:absolute;
		right:0px;
		top:0px;
		width:10px;
		height:20px;
	}	
/* searchPanel */
	#searchPanel{
		background-color:#e0e0e0;		
		-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);		
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* CSS3    */
		-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Webkit  */		
		padding:10px;		
		margin-bottom:30px;
	}
	.js #searchPanel h3{
		display:none;
	}
	
	.js #searchPanel hr{
		display:none;
	}
	
/* stdSearch */
	#stdSearch p{
		font-size:1.4em;
		float:left;
	}
	
	#stdSearch label{		
		padding:2px;
	}
	
	.no-js #stdSearch label{
		display:none;
	}
	
	#stdSearch input {
		border: 1px solid #AAAAAA;
		height: 1.4em;
		line-height: 1.4em;
		margin-right: -1px;
		padding: 1px;
		width: 253px;
	}
	
	#stdSearch .button{
		width:30px;
	}
	
	
/* advSearch */
	.js #advSearch{
		display:none;
	}
	
	#advSearch input.testo,
	#advSearch input.date{
		font-size: 1.1em;
		width: 149px;
		padding:1px;
		border:1px solid #aaa;
	}
	
	.js #advSearch input.testo{
		width: 135px;
		margin-right:1px;		
	}

	.js #advSearch input.date{
		width: 65px;
		margin-right:1px;
	}	
	
	
	#advSearch select{
		font-size: 1.1em;
		width: 135px;
		padding:1px;
		border:1px solid #aaa;
		color:#444;
	}
	
	.operatori{
		text-align:center;
		margin:10px 0px;
	}
	
	.operatori span{
		margin:0px 5px;
	}
	
	.no-js #advSearch .addRule{
		display:none;
	}
	
	#advSearch .addRule{
		background-color: #AAAAAA;
		color: #FFFFFF;
		font-size: 1.2em;
		font-weight: bold;
		padding: 1px 3px;		
		-moz-border-radius: 3px; /* For FireFox */
		-webkit-border-radius: 3px; /* For Safari/Chrome */
		border-radius: 3px; /* For when the standard gets fully supported */		
	}
	
	#advSearch .addRule:hover,
	#advSearch .addRule:focus{
		background-color:#999;
	}
	
	
	.advQuery{
		border:1px solid #aaa;
		padding:10px;
		color:#666;
		margin-top:10px;
		background-color:#eee;
	}
	
	.advQuery .remove{
		background-color: #AAAAAA;
		color: #FFFFFF;
		cursor: pointer;
		font-weight: bold;
		margin-right: 5px;
		padding: 0px 4px;		
		-moz-border-radius: 3px; /* For FireFox */
		-webkit-border-radius: 3px; /* For Safari/Chrome */
		border-radius: 3px; /* For when the standard gets fully supported */		
	}
	
	.advQuery .remove:hover,
	.advQuery .remove:focus{
		background-color:#999;
	}	
	
	.advQuery p{
		font-size:1.4em;
	}
	
	.advQuery .btnsSwitch{
		margin-bottom: 3px;
		margin-left: 15px;
		margin-top: 6px;
	}
	
	#archivi{
		margin-top:20px;
		border:1px solid #aaa;
		padding:10px;
	}
	#archivi label{
		display: block;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	
	.buttonsBar {
		margin:10px 0px 0px;
		overflow:hidden;
		text-align:right;
	}
	
	
	
	
	
/* sezioni */

	.sezioni{
		margin-bottom:30px;
	}
	.sezioni dt{
		position:relative;
		z-index:2;
	}

	.sezioni dt a{
		font-size:1.8em;
		color:#666;
		background-color:#eee;
		display:block;
		padding-left:122px;
		line-height:49px;
		background-position:1px 1px;
		background-repeat:no-repeat;		
		-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);		
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* CSS3    */
		-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Webkit  */
				
	}
	
	.sezioni dt a:hover,
	.sezioni dt a:focus{
		background-color:#e0e0e0;
	}
	
	.sezioni .archivi a{
		background-image:url(../images/icoArchivi.png)
	}
	
	.sezioni .fondi a{
		background-image:url(../images/icoFondi.png)
	}
	
	.sezioni .atlante a{
		background-image:url(../images/icoAtlante.png)
	}
	
	.sezioni dd{
		padding:10px;
		background-color:#f2ecd9;
		margin-bottom:10px;
	}
	
	
	
	
	
	
	
	
	
	
	
/* bodyCol */
	#bodyCol {
		overflow:hidden;
		margin-top:20px;
		padding:10px 20px;
	}
	
	
	
	.descrizione {
		overflow:hidden;
	}
	.descrizione p{
		border-top:10px solid #99a1a6;
		padding-top:10px;
		margin-bottom:30px;
		font-size:1.4em;
		line-height:1.6em;
		word-spacing:0.3em;
	}
	
	.descrizione p em{
		font-size:1.4em
	}
	
	
	.links li{
		background-image:url(../images/ulDot.png);
		background-position:0px 50%;
		background-repeat:no-repeat;
		padding-left:25px;
		margin-bottom:5px;
	}
	
	.links li a{
		font-size:1.4em;		
	}
	
	
	
	/* risultati della ricerca */
	#risultatiRicerca h3.titoloPannello{
		color: #666666;
		font-size: 2em;
		margin-bottom: 15px;
	}
	
	
	#docMenu{
		overflow:hidden;
		position:relative;
		margin-bottom:-1px;
	}
	ul.archivi{
		overflow:hidden;
	}
	
	.archivi li.current a {
		border-color:#ccc #ccc #f9f9f9 #ccc;
	}
	.archDiv {
		border:1px solid #ccc;
		clear:both;
		padding:10px 0px 0px 10px;
		overflow:hidden;
	}
	
	.hap_docView{
		overflow:hidden;
		
		background-color:#eee;
		border:1px solid #ccc;
		padding:10px;
		font-size:1.4em;
		/*max-height:826px;*/
		overflow-y:auto;
		margin-bottom:10px;
		line-height:1.4em;
	}
	
	.hap_docView h3{
		margin-bottom:15px;
		color:#444;
		font-weight:bold;
		line-height:1.6em;
	}
	
	
	ul.documenti{
		overflow:hidden;
	}
	
	.showingDoc ul.documenti{
		float:right;	
		padding:0px 0px 10px 10px;
		
		/*width:140px;*/
	}
	
	.li_arch a{
		display:block;
		font-size:1.2em;
	}
	
	.li_doc{
		float: left;
		margin-bottom: 15px;
		margin-right: 10px;
		position: relative;
		background-image: url("../images/doc.png");
	}
	
	.li_doc a.doc{		
		border: 1px dotted transparent;
		color: #666666;
		display: block;
		height: 75px;
		margin-right: 7px;
		opacity: 0.8;
		overflow: hidden;
		padding: 7px;
		width: 106px;
		filter: alpha(opacity = 80);
	}

	.li_doc a.doc:hover,
	.li_doc a.doc:focus,
	li.current a.doc{
		opacity:1;
		filter:"";
		border-color:#ff8000;
		background-color:#F2ECD9;
	}
	
	#docsBinder .li_doc a.doc:hover,
	#docsBinder .li_doc a.doc:focus,
	#docsBinder li.current a.doc{
		border-color:#65c950;
		background-color:#ddf3d8;
	}	
	
	.li_doc a.add{
		position:absolute;
		right:3px;
		bottom:1px;
		overflow:hidden;
		width:25px;
		height:22px;
		background-image:url(../images/addRemove.png);
		background-position:0px 0px;
		display:none;
	}
	
	.li_doc a.remove{
		position:absolute;
		right:3px;
		bottom:1px;
		overflow:hidden;
		width:25px;
		height:22px;
		background-image:url(../images/addRemove.png);
		background-position:right 0px;
		display:none;
	}	
	
	
	.li_doc a.doc:hover a.add,
	.li_doc a.doc:focus a.add,
	.li_doc a.doc:hover a.remove,
	.li_doc a.doc:focus a.remove{
		display:block;
	}
	
/* pagination */
	.pagination{		
		background-color:#d0d0d0;
		margin:0px 10px 10px 0px;
	}
	
	.pagination ul{
		text-align:right;
	}
	
	.pagination li{
		display:inline-block;
		zoom: 1; *display: inline; /* IE < 8: fake inline-block */
		font-size:1.1em;
		margin-right:1px;
	}
	
	.pagination li a{
		display:block;
		padding:2px 6px;
		color:#fff;
		border:1px solid transparent;
	}
	
	.pagination li a:hover,
	.pagination li a:focus{
		background-color:#bbb;
		border-color:#b2b2b2;
	}
	
	.pagination li.current{
		margin:-2px 1px -2px 0px;
	}
	
	.pagination li.current a{
		font-weight:bold;
		background-color:#aaa;
		font-size:1.1em;
		
		padding:4px 6px;
	}
	
/* toolBar */
	.toolBar {
		overflow:hidden;
		background-color:#eee;
		padding:5px;
		margin-bottom:5px;
	}
	
	.toolBar a.btn{
		float:left;
		background-image:url(../images/icons.png);
		background-repeat:no-repeat;
		margin-right:5px;
	}
	
	.toolBar a.btn:hover,
	.toolBar a.btn:focus{
		background-image:url(../images/iconsOn.png);
	}
	
	.toolBar a.prev{
		background-position: -98px 5px;
		height: 23px;
		width: 23px;
	}
	
	.toolBar a.next{
		background-position: -23px -2px;
		height: 23px;
		width: 23px;
		margin-right:25px;
	}
	
	
	.toolBar a.add{
		background-position: -3px -47px;
		height: 23px;
		width: 23px;
	}
	
	.toolBar a.remove{
		background-position: -30px -47px;
		height: 23px;
		width: 23px;
	}	
	
	.toolBar a.print{
		background-position: -56px -48px;
		height: 23px;
		width: 23px;
	}
	
	.toolBar a.close{
		background-position: -94px -30px;
		float: right;
		height: 16px;
		width: 16px;
		margin-top:5px;
	}
	
	
	
/* searchHistory */
	#searchHistory{
		margin-bottom:15px;
		overflow:hidden;
	}
	
	#searchHistory li{
		position:relative;
		margin-bottom:5px;
	}
	
	#searchHistory .search{
		padding-right:20px;
		line-height:1.4em;
	}
	
	#searchHistory h3{
		margin-bottom:5px;
	}
	
	#searchHistory .remove{		
		background-color: transparent;
		background-image: url("../images/icons.png");
		background-position: -93px -50px;
		border: medium none;
		height: 17px;
		padding: 0;
		position: absolute;
		right: 1px;
		top: 1px;
		width: 17px;
		cursor:pointer;
		
		-moz-border-radius: 2px; /* For FireFox */
		-webkit-border-radius: 2px; /* For Safari/Chrome */
		border-radius: 2px; /* For when the standard gets fully supported */
	}
	
	#searchHistory .remove:hover,
	#searchHistory .remove:focus{
		background-image: url("../images/iconsOn.png");
		background-color:#ccc;
	}
	
	#searchHistory .current .remove:hover,
	#searchHistory .current .remove:focus{
		background-color:#e0e0e0;
	}	

	
	
/* switch widget */
	
	.btnsSwitch{
		display:inline-block;
	}
	.btnsSwitch li{
		float:left;
		margin:0px 2px;
	}
	.btnsSwitch a{
		display:block;
		padding:2px 5px;
		background-color:#e6e6e6;
		color:#adadad;
		-moz-border-radius: 3px; /* For FireFox */
		-webkit-border-radius: 3px; /* For Safari/Chrome */
		border-radius: 3px; /* For when the standard gets fully supported */
		border:1px solid transparent;
		outline:none;
	}
	
	.js .btnsSwitch .current a{
		background-color:#c9c9c9;
		color:#5f5f5f;		
		border-color:#aaa;	
	}
	
	
	.js .btnsSwitch a:active,
	.js .btnsSwitch a:hover,
	.js .btnsSwitch a:focus{
		background-color:#b5b5b5;
		color:#444;		
		border-color:#838383;	
	}	
	
/* help */
	#help{
		display:none;
	}
	
	#help h3{
		font-size:2em;
		margin-bottom:10px;
	}
	
	#help h4{
		font-size:1.6em;
		margin:10px 0px;
	}
	
	#help .accessKeys{
		font-size:1.2em;
		margin-bottom:20px;
	}
	
	#help .implemented{
		font-weight:bold;
		color:#006f00;
	}
	
	.keycap{
		padding:3px 5px;
		background-color:#ddd;
		border:1px outset #999;
	}
	
	li.browsersKeys{
		border-bottom: 1px dotted #999999;
		line-height: 2em;
		margin-bottom: 5px;
		padding-left: 20px;
		font-size:1.2em;
	}
	
	.browsersKeys li{
		padding-left:10px;
	}
	
	
/* footer */
	#footer{
		margin-top:5px;
		padding:5px 10px;
		background-color:#eee;
		text-align:right;
	}
	
	
		 
/* ie hasLayout fix */
	#tableData,
	.tabContent,
	#searchPanel,
	dt{
		zoom:1;
	}
	
	
	
@media print{
	
	header,
	#searchForm,
	#main{
		margin:0px;
	}

}








/* myConsole */
	.myConsole {		
		font-family:Verdana,Geneva,sans-serif;
		left:2px;
		opacity:0.9;
		filter: alpha(opacity = 90);
		position:fixed;
		top:2px;
		z-index:1000;
	}
	
	.alertBox{
		left:50%;
		width:400px;
		margin-left:-200px;
	}
		
	.myConsole span{
		margin-left:5px;	
		margin-right:-5px;
		-moz-border-radius: 3px; /* For FireFox */
		-webkit-border-radius: 3px; /* For Safari/Chrome */
		border-radius: 3px; /* For when the standard gets fully supported */
	}
	.myConsole .error {
		background-color:#C00!important;		
	}
	
	.myConsole p.alert {	
		background-image:url(../images/alertIconMedium.png);
		background-position:10px 10px;
		background-repeat:no-repeat;
		padding:10px 10px 10px 40px;
		color:#FF9;
		width:350px;
		font-size:1.3em;	
		white-space:normal;
		line-height:1.5em;			
	}
	
	.myConsole p.info{	
		background-image:url(../images/info.png);
		background-position:10px 10px;
		background-repeat:no-repeat;
		padding:10px 10px 10px 40px;
		background-color:#B1C8D8;
		color:#333;
		width:350px;
		font-size:1.3em;	
		white-space:normal;
		line-height:1.5em;			
	}
	
	.myConsole span.error {
		padding:5px;
	}
	.myConsole span.ok {
		background-color:#090!important;
		padding:5px;
	}

	.myConsole p{
		background-color:#444444;
		color:#FFFFFF;
		font-size:1em;
		font-weight:bold;
		margin:0px;
		margin-bottom:2px;
		padding:8px;				
		cursor:pointer;
		white-space:nowrap;
		-moz-border-radius: 4px; /* For FireFox */
		-webkit-border-radius: 4px; /* For Safari/Chrome */
		border-radius: 4px; /* For when the standard gets fully supported */
		-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);			
		overflow:hidden;	
		float:left;
		clear:both;
	}
	
@media print{
	.myConsole{
		display:none!important;	
	}	
}