[main]
Description=
Host=89.234.57.115
AuthType=1
GroupName=rack-623759
GroupPwd=
enc_GroupPwd=ADA4416864A4F9F888264581D0C5DE40F8A275C753784E712E9FB148A8E04F71950B001B1D660A9A00E22CB2061046D115DF0F5F8BB2C700
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=pix2
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
