html {
	font-family:verdana;
 	font-size:62.5%;
	margin:0px  0px  0px  0px;
    background-color:#7fb0f0;
 }

body {
   	font-size:100%;
	margin:5px 5px 0px;
 }

a img{
	border:none;
}

a.btn{
		display:block;
		float:left;  
		margin:3px 9px 0px;
}


.menuBar{
	height:55px;
}
.menu  {
	float:left;
	margin-right:10px;
	background-color:#6Fa0e0;
	margin-top:0px;
	height:100%;
	zoom:1;
 }  

.menu a{
	font-size:1.2em;
	text-align:center;
	padding:3px;
  	width: 100px;	
	text-decoration:none;
	color:#00c;
	border:1px solid #6Fa0e0;
	display:block;
	height:48px;
	zoom:1;
	overflow:hidden;
}

.menu a:hover,
.menu a:focus,
.menu a:active{
	background-color:#5F90d0;
	border:1px solid #4F80c0;
}
  
