ul {
	list-style-type:none;
}

/* common modules style */
	.ac_module {
		position:relative;
	}
	
	.loadingMsg{
		right:-30px;
		position:absolute;
		top:0px;
		display:block;
		width:32px;
		height:32px;
		background-image:url(../images/ajax-loader.gif);
		z-index:2;
	}

/* menu */

	.menu{
		padding:0px;
		color:#444;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
		font-size:0.8em;
		overflow:hidden;
	}
	.menu li{
		position:relative;
	}
	
	.menu li a.delete{
		position:absolute;
		left:1px;
		top:3px;
		padding:0px;
		overflow:hidden;
		color:red;
		font-size:0.8em;
	}
	

	.menu .container {
		border-left:1px solid #CCCCCC;
		border-right:1px solid #CCCCCC;
		float:left;
		margin:0px;		
		margin-left:-1px;
		padding:0px;
		position:relative;
	}
	
	.menu ul{
		margin:0px;		
		padding:0px;
		float:left;
	}	
	
	.menu a{
		text-decoration:none;
		color:#999;
		display:block;
		padding:2px 10px;
		outline:none;
	}
	
	.menu a:hover,
	.menu a:focus{
		color:#555;
	}
	
	.menu .current{
		font-weight:bold;
		color:#333;
		border-bottom:1px solid #ddd;
	}
	
	.menu .createFolder{
		background-color:#eee;
		padding:5px;
		float:left;
		clear:left;
		padding:5px;
	}
	
	.menu .createFolder p{
		margin:0px 0px 5px 0px;
		padding:0px
	}

	.menu .createFolder input{
		width:100px;
	}
