
html{
	font-family:Helvetica;
	font-size:62,5%;
	margin:0px;
	background-image:url(../img/bg.jpg); 
}

body{
	/*font-size:1.2em;*/
	margin:0;
	padding:0;	
}



.hidden{
	display:none;
}







h1{
	margin:30px 0px 0px;
	font-size:2em;
	padding:0px;	
	color:#750;
} 

h2{
	margin:0px;
	font-size:1.4em;
	padding:0px;	
	color:#985;
	border-bottom:1px solid;
}

h3{
	color:#998855;
	text-align:left;
	font-size:1.7em;
}	
 
h4{
	margin:0px;
	font-size:1.2em;
	padding:0.5px;	
	/*
	color:#760;
	border-bottom:1px solid;
	*/
}

 
h5{
	font-size:1em;
	color:#444;
	margin:0px 0px 10px;
}

p{
	margin:0px;     
	padding:0px;
	/*
	color:#740;
	*/
}

.logo{
	overflow:hidden;
	margin:20px;
}

.logo img{
	float:left;
	margin-right:20px;
}

.logo p{
	color:#666;
	font-size:1em;
}

.logo div{
	overflow:hidden;
}

.body{
	
	text-align:center;
	margin-top:30px;
}

.body .anno{
	margin-top:20px;
	text-align:center;
	font-size:2em;
	color:#763;
}

.corpo {
	padding:30px;
}

.corpo .fotoDestra{
	float:right;
	margin:0px 0px 20px 20px;
	width:340px;
	border:1px solid #000;
	background-color:#fff;
}
.corpo .fotoDestra img{
  float:left;
  margin-right:10px;
}

.corpo p{
	line-height:1.5em;
	margin-bottom:20px;
}

.legenda {
	color:#444444;
	font-style:italic;
	margin:10px!important;    rgb(0,0,255)
	font-size:0.8em; 	   
	font-family:"trebuchet ms";
}

.legenda span {
	color:#000;
	font-style:normal;
	
	display:block;
	text-align:right;
}

.tableCaption{
	background-color:#eee;
	border-color:#999999 #999999;
	border-style:solid solid none solid;
	border-width:1px 1px 1px 1px;
	color:#999;
	font-size:1.2em;
	margin:0;
	padding:5px 30px 5px 10px;
	width:140px;    	 
}
table.style01{
	width:400px;  
	border:1px solid #999;
	background-color:#fff;
	margin-bottom:30px;
	font-size:0.8em;
  
}

table.style01 th{
	background-color:#999;
	text-align:left;
	padding:5px;
	color:#fff;
}

table.style01 td{
	/**/
	padding:5px;
	border-top:1px solid #ccc;
}


.style01-bis{
  margin:30;
  float: left;
}


ul,
li{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

ul{
	margin-bottom:20px;
}

li{
	margin-left:20px;
}
li ul{
	margin-left:20px;
}

li li{
	list-style-type:disc;
	margin-bottom:20px;
}

p.year{
	background-color:#DDCC88;
	margin:0;
	padding:0 0 0 10px;
}

li.totale{
	text-align:right;
	border-top:2px solid #DDCC88;
	color:#774400;
}

h4.st_02{
	font-size:1em;
	margin:0px 0px 10px;
	border:none;
}

quote{
	display:block;
	text-align:right;
	margin-bottom:10px;
	font-style:italic;
	color:#666;
}


/* panelsCarousel */	
	.panelsCarousel{
		border-top:2px solid #444;
		border-bottom:2px solid #444;
		padding:5px 0px;
		position:relative;
		margin:0px auto 15px;
		width:950px;
		
	}
	
	.panelsCarousel ul li{
		list-style-type:none!important;
	}
	
	.panelsCarousel .panelsUl{
		margin:0px;
		padding:0px;
		position:relative;
		overflow:hidden;
		z-index:1;
	}
	
	.panelsCarousel .panelsLi{
		border-bottom: 2px dotted #ccc;
		margin-bottom:15px;
		
	}
	
	.hasJs .panelsCarousel .panelsLi{
		border:none;
		position:absolute;
		left:0px;
		top:0px;
		/*background-color:#fff;*/
		width:100%;
		display:none;
		margin:0px;
		
	}
	
	.panelsCarousel .panelControls{
		position:absolute;
		right:0px;
		z-index:2;
		width:96px;
	}
	
	.panelsCarousel .panelControls ul{		
		margin:0px;
		padding:0px;
		overflow:hidden;
	}
	
	.panelsCarousel .panelControls ul li{
	   float:left;
	   margin:0px;
	   margin-right:1px;
	}
	.panelsCarousel .panelControls a{
	   display:block;
	   width:23px;
	   height:23px;
	   margin-bottom:-2px;
	   background:url(../img/btns_control_demo_BW.png) -0px -0px no-repeat;
	}		
	
	.panelsCarousel .panelControls .back a{
	   background-position:0px 0px ;
	}
	.panelsCarousel .panelControls .back a:hover{
		background-position: left -44px;
	}
	
	.panelsCarousel .panelControls .pause a{
	   background-position:-24px top;
	}	
	.panelsCarousel .panelControls .pause .active,
	.panelsCarousel .panelControls .pause a:hover{
		background-position:-24px -44px;
	}
	
	.panelsCarousel .panelControls .play a{
	   background-position:-48px top;
	}
	.panelsCarousel .panelControls .play .active,
	.panelsCarousel .panelControls .play a:hover{
		background-position:-48px -44px;
	}
	
	.panelsCarousel .panelControls .forward a{
	   background-position:-72px top;
	}
	
	.panelsCarousel .panelControls .forward a:hover{
		background-position:-72px -44px;
	}	
	
	.panelsCarousel .panelControls span{
		position:absolute;
		height:0px;
		overflow:hidden;
	}
	
	.panelsCarousel .progress{
		background-color:#ccc;
		border-left:0 solid #999;
		clear:both;
		height:2px;
		margin-right:1px;
		margin-top:1px;
		overflow:hidden;
	}
	
	.panelsCarousel .directLinks{
		overflow:hidden;
	}
	
	.panelsCarousel .directLinks ul{
		margin:0px;
		padding:0px;
		float:right;
	}
	.panelsCarousel .directLinks li{
		float:left;
		margin:0px;
		margin-right:1px;
	}
	.panelsCarousel .directLinks a{
		background-color:#EEEEEE;
		border:1px solid #999999;
		color:#666666;
		display:block;
		font-size:1em;
		padding:1px 7px;
		text-align:center;
		text-decoration:none;
	}
	
	
	.panelsCarousel .directLinks a.current{
		background-color:#999999!important;
		border:1px solid #666;
		color:white;
	}
	
	.panelsCarousel .directLinks a:hover{
		background-color:#ccc;
		border:1px solid #666;		
	}
	
	
	
	/* SMALL */
	.panelsCarousel.small .panelsUl{
		margin-top:15px;
	}
	.panelsCarousel.small .directLinks a{
		text-indent:-9999px;
		height:6px;
		width:6px;
		padding:0px;
		overflow:hidden;
	}
	
	.panelsCarousel.small .panelControls {
		width:72px;
	}
	.panelsCarousel.small .panelControls a {
		height:12px;
		width:17px;
	}
	.panelsCarousel.small .panelControls .back a{
	   background-position:-3px -83px ;
	}
	.panelsCarousel.small .panelControls .back a:hover{
		background-position: -3px -70px;
	}
	
	.panelsCarousel.small .panelControls .pause a{
	   background-position:-27px -83px;
	}	
	.panelsCarousel.small .panelControls .pause .active,
	.panelsCarousel.small .panelControls .pause a:hover{
		background-position:-27px -70px;
	}	
	
	.panelsCarousel.small .panelControls .play a{
	   background-position:-51px -83px;
	}
	.panelsCarousel.small .panelControls .play .active,
	.panelsCarousel.small .panelControls .play a:hover{
		background-position:-51px -70px;
	}	
	
	.panelsCarousel.small .panelControls .forward a{
	   background-position:-75px -83px;
	}
	.panelsCarousel.small .panelControls .forward a:hover{
		background-position:-75px -70px;
	}		
	
