/* YUI reset CSS3 */
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
}
legend {
    color: #000000;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size:1em; }
html { overflow-y: scroll; }
nav ul, nav li { margin: 0; } 
ul, ol { margin:0px; list-style-type:none; }
body { font:62.5% arial;} 

.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }

.clearfix{overflow:hidden}



 /* Primary Styles
    Author: Alessio Carnevale
 */

  html{
    background-image:url(../images/bg.jpg);
    background-position:0px 0px;
    background-repeat:no-repeat;
    background-color:#000;
    
  }
  
  body{
    width:425px;
  }
  
  #container{
    color:#cecece;
    padding:18px 0px 18px 34px;
  }
  
  strong{
    font-weight:bold;
    color:#fff;
  }
  
  header{
    margin-bottom:10px;
  }
  
  h1{
    background-image:url(../images/imgSprite.png);
    background-position:2px -45px;
    background-repeat:no-repeat;
    margin-bottom:35px;
  }
  
  h1 a{
    display:block;
    width:110px;
    height:53px;
  }
  
  h2{
    color: #E61B5B;
    font-size: 2.4em;
    margin-bottom:10px;
  }
  
  h3{
    font-size:1.8em;
    margin-bottom:14px;
  }
  
  h4{
    font-size:1.4em;
    color:#f4ff00;
    margin-bottom:3px;
  }
  
  a{
    text-decoration:none;
  }
  
  a:hover,
  a:focus{
    text-decoration:underline;
  }
  
  .link_01{
    color:#f4ff00;
    font-size:1.2em;
  }
  
  .errorMsg{
    position:absolute;
    color:#ffff00;
    display:none;
    
    margin-left:10px;
    
    background-color:#444;
    border:1px solid #666;
    padding:4px 10px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;    
  }

/* nav menu */
  nav.main li{
    background-image: url("../images/imgSprite.png");
    background-position: right -23px;
    background-repeat: no-repeat;
    float: left;
    padding-right: 2px;
  }

  nav.main a{
    background-image: url("../images/imgSprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    line-height: 20px;
    padding: 0px 17px 0px 19px;
    text-decoration: none;
    font-size:1.2em;
  }
  
  nav.main a:hover,
  nav.main a:focus{
    color:#ffff00;
    outline:none;
  }
  
/* article */
  article{
    margin-bottom:12px;
  }

/* section */
  section{
    margin-bottom:18px;
  }

  section p{
    line-height:1em;
    font-size:1.2em;
  }
  
  section p q{
    display:block;
    margin:24px 36px 0px;
    quotes:none;
  }
  
  #newsSection_01{
    overflow:hidden;
  }
  
/* itemsList */
  .itemsList{
    margin-bottom:18px;
  }
  .itemsList li{
    background-image: url("../images/imgSprite.png");
    background-position: -149px -111px;
    background-repeat: no-repeat;
    padding-left: 8px;
    line-height:1.2em;
    font-size:1.2em;
  }

/* hideBtn */
  .hideBtn{
    color:#FA1E64;
    display:block;
    font-weight:bold;
    padding-left:20px;
    background-image:url(../images/imgSprite.png);
    background-position:4px -96px;
    background-repeat:no-repeat;
    margin-bottom:10px;
    margin-top:-4px;
    font-size:1.2em;
  }

/* infoBox */
  .infoBox{
    color:#fff;
  }
  
  .infoBox p{
    font-size:1.2em;
  }
  #infoForm label{
    display:block;
    margin-bottom:1px;
    font-size:1.2em;
  }
  
  .infoBox span.required{
    display:block;
    margin:10px 0px;
  }

  .infoBox input{
    margin-bottom:5px;
    display:block;
    width:232px;
    padding:2px;
    font-size:1.2em;
  }
  
  .infoBox input.invalid{
    background-color:#ffff80;
    border:1px solid #ff8040;
  }
  
  .infoBox #name{
    width:156px;
  }
  
  .infoBox button{
    font-size: 1.2em;
    margin: 5px 0;
  }














@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

